@charset "UTF-8";

tr.contentbox {
	height: 535px;
	background-color: #eef7ff;
}

td.content {
	text-align: center;
	font-size: 20px;
	font-family: malgun;/* 맑은 고딕 글꼴 적용 */
	font-weight: bold;
	color: #0A2647;
}

