@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

tr.footer01 { /* 하단 여백 */
	height: 50px;
}

tr.footer02 {
	height: 30px;
	background-color: #0A2647;	
}

td.footertext01 {
	font-size: 16px;
	color: #eef7ff;
	font-family: Arial;
	text-align: center;
}

td.footertext02 {
	font-size: 16px;
	color: #e3fdff;
	font-family: Arial;
	text-align: center;
}